<!-- <div ng-include="httpConfigPartialSrc"></div> -->
<!-- <br> -->

<h5>AirVantage API settings</h5>

<div class="tight-form">
	<ul class="tight-form-list">
		<li class="tight-form-item" style="width: 80px">Url</li>
		<li>
			<input type="url" class="tight-form-input input-large" ng-model='current.url' placeholder="" required></input>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
<div class="tight-form">
	<ul class="tight-form-list">
		<li class="tight-form-item" style="width: 80px">User</li>
		<li>
			<input type="text" class="tight-form-input input-large" ng-model='current.user' placeholder="" required></input>
		</li>
		<li class="tight-form-item">Password</li>
		<li>
			<input type="password" class="tight-form-input input-large" ng-model='current.password' placeholder="" required></input>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
<div class="tight-form last">
	<ul class="tight-form-list">
		<li class="tight-form-item" style="width: 80px">System ID</li>
		<li>
			<input type="text" class="tight-form-input input-large" ng-model='current.jsonData.systemId' placeholder="" required></input>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>